<div>
  <app-navigation-bar></app-navigation-bar>
  <main class="max-w-7xl mx-auto mt-12 px-12">
    <h1 class="text-4xl">All Pokémon</h1>
    <div class="mt-12 mb-24 space-y-4">
      <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-3">

        <div *ngFor="let pokemon of pokemons" class="border bg-gray-100 p-5">
          <span class="block pb-3">{{ pokemon.name }}</span>
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.id }}.png" alt="">
        </div>
      </div>

      <div class="flex justify-center">
        <button class="border border-slate-800 px-4 py-2 rounded text-slate-800 font-bold text-sm">Load more</button>
      </div>
    </div>
  </main>
</div>
